
/* 대기중 이미지 */
#dv_player_img{
    display: none;
}
/* 대기중 유투브 영상 */
#dv_player_mov{
    display: none;
}
/* 음소거 버튼 */
#dv_mute_icon{
    display: none;
}
#dv_mute_icon_qdm{
    display: none;
}
/* 대기화면 */
#dv_waiting{
    display: none;
}
#dv_player_area{
    display: none;
}

/* 퀴즈화면*/
#dv_qdm{
    display: none;
}
/*결과화면*/
#dv_result{
    display: none;
}

/*결과화면*/
#dv_result{
    display: none;
}
.NotSupported_small,
.NotSupported_large,
.NotSupported{
    display: none;
}

/*.intro, .outro, .type_3,.type_2,.type_1{display: none;} */
.intro{display: none;}
.type_1{display: none;}
.type_2{display: none;}
.type_3{display: none;}
.outro{display: none;}
.time_out{display: none;}