<!-- 퀴즈 참여 페이지-->
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RE8Z14VKLL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RE8Z14VKLL');
    </script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes , viewport-fit=cover"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">

    <!-- VideoJS library and css -->
    <!--        <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>-->
    <!--        <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />-->
    <!--        <script src="https://cdn.jsdelivr.net/npm/videojs-contrib-eme@3.7.0/dist/videojs-contrib-eme.min.js"></script>-->

    <!-- ********* DRM ***************-->
    <!--        <script src="https://cdn.jsdelivr.net/npm/shaka-player@3/dist/shaka-player.compiled.min.js"></script>-->




    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ none CDN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--    <link rel="stylesheet" th:href="@{/font/stylesheet.css}" type="text/css" charset="utf-8">-->
<!--    <link rel="stylesheet" th:href="@{/css/common/epiclive.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/common/new_popup.css}"/>-->

<!--    <link rel="stylesheet" th:href="@{/css/qdm/main.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/waiting/main.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/result/main.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/common/debugger.css}"/>-->

<!--    <link rel="stylesheet" th:href="@{/css/waiting/display.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/common/popup_display.css}"/>-->

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 개발 버전 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/font/stylesheet.css" rel="stylesheet" type="text/css" charset="utf-8"/>
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/common/epiclive.css" rel="stylesheet"/>
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/common/new_popup.css" rel="stylesheet"/>

                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/qdm/main.css" rel="stylesheet"/>
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/waiting/main.css" rel="stylesheet"/>
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/result/main.css" rel="stylesheet"/>
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/common/debugger.css" rel="stylesheet"/>

                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/waiting/display.css" rel="stylesheet"/>
                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/css/common/popup_display.css" rel="stylesheet"/>

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 라이브 버전 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/font/stylesheet.css" rel="stylesheet" type="text/css" charset="utf-8"/>-->
<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/common/epiclive.css" rel="stylesheet"/>-->
<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/common/new_popup.css" rel="stylesheet"/>-->

<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/qdm/main.css" rel="stylesheet"/>-->
<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/waiting/main.css" rel="stylesheet"/>-->
<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/result/main.css" rel="stylesheet"/>-->
<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/common/debugger.css" rel="stylesheet"/>-->

<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/waiting/display.css" rel="stylesheet"/>-->
<!--                <link href="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/css/common/popup_display.css" rel="stylesheet"/>-->

    <title>EPIC LIVE</title>
</head>

<body id="body_main">
<div th:replace="main/fragments/waiting :: waiting_bind"></div>
<div th:replace="main/fragments/qdm :: qdm_bind"></div>
<div th:replace="main/fragments/result :: result_bind"></div>

<!-- 다음회차 팝업-->
<div id="dv_info_schedule">
    <div class="popup_area">
        <div class="popup_bg">
            <div class="popup_shadow" id="dv_popup_shadow_info_schedule" >
                <div class="top_group">
                    <img class="dv_schedule_2st" src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/info.png" alt="">
                    <img class="dv_schedule_last" src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/last.png" alt="">
                </div>
                <div class="fixed_area" id="dv_fixed_area_info_schedule">
                    <div class="dv_schedule_2st">
                        <div class="popup_title" th:utext="#{schedule_title01}">에픽 라이브 다음 이벤트 일정을
                            확인하고 다시 도전하시기 바랍니다</div>
                        <div class="popup_table_error">
                            <table>
<!--                                <tr>-->
<!--                                    <th th:utext="#{schedule_sub01}">다음 이벤트</th>-->
<!--                                    <td th:utext="#{schedule_sub01_1}">2021년 5월 2일</td>-->
<!--                                </tr>-->
                                <tr>
                                    <th th:utext="#{schedule_sub02}">마지막 이벤트</th>
                                    <td th:utext="#{schedule_sub02_1}">2021년 5월 16일</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="dv_schedule_last">
                        <div class="popup_title" th:utext="#{schedule_title03}">
                            2021 에픽 라이브<br>준비된 모든 이벤트가 종료되었습니다.<br>
                        </div>
                    </div>
                </div>
                <div class="bottom_area" id="dv_bottom_area_info_schedule">
                    <button class="btn_item01" onclick="offInfoSchedule()" th:utext="#{txt_close}">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 네트워크 체크 팝업-->
<div id="dv_network_checking">
    <div class="page_area">
        <!-- 네트워크 체크 -->
        <div class="popup_title_network">
            <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/waitingroom_network_pop_02.png" alt="">
            <p th:utext="#{network_title}"> 네트워크 연결 상태를 확인 중입니다</p>
        </div>
        <div class="popup_subtitle">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div>
</div>
<div id="dv_network_checking_fail">
    <div class="popup_area">
        <div class="popup_bg">
            <div class="popup_shadow" id="dv_popup_shadow_network" >
                <div class="top_group">
                    <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/waiting/waitingroom_network_pop_01.png" alt="">
                </div>
                <div class="fixed_area" id="dv_fixed_area_network">
                    <!-- 네트워크 체크 -->
                    <div class="dv_checking">
                        <div class="popup_title_network" th:utext="#{network_title}">
                            네트워크 연결 상태를 확인 중입니다
                        </div>
                        <div class="popup_subtitle">
                            <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/waiting/img_loding.png" alt="">
                        </div>
                    </div>
                    <!-- 네트워크 체크 실패 -->
                    <div class="dv_fail">
                        <div class="popup_title" th:utext="#{network_fail_title}">
                            네트워크 연결 상태가 불안정합니다
                        </div>
                        <div class="popup_subtitle" th:utext="#{network_fail_sub}">
                            무선 이동 통신이 원활한 환경에서 <br>
                            다시 접속하시기 바랍니다.<br>
                            회원 정보 입력 페이지로 이동합니다.<br>
                        </div>
                    </div>
                </div>
                <div class="bottom_area" id="dv_bottom_area_network">
                    <div class="dv_fail">
                        <button class="btn_item01" onclick="gtag('event', '네트워크_닫기', {'event_category' : '네트워크체크', 'event_label' : '네트워크_닫기', 'event_callback' : btnNetworkCheckFailed()});" th:utext="#{txt_close}">닫기</button>
                        <!--<button class="btn_item01" onclick="btnNetworkCheckFailed()">닫기</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 화면 지원안함 -->
<div id="dv_NotSupported">
    <div class="NotSupported">
        <img id="Oops_item_img" src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/notsupported_bg2.png" alt="">
        <div class="Oops_textbox">
            <div class="Oops_title">Oops!</div>
            <div class="Oops_subtitle"> <mark th:utext="#{notsurpoort_sub}"> 에픽 라이브는 세로 화면에 최적화되어 있습니다. <br>
                디바이스를 세로로 회전해 주세요.</mark> </div>
        </div>
    </div>
    <div class="NotSupported_small" >
        <div class="Oops_item_img"></div>
        <!-- <img id="Oops_item_img" src="/img/login/notsupported_bg2.png" alt=""> -->
        <div class="Oops_textbox">
            <div class="Oops_subtitle"> <mark th:utext="#{notsurpoort_sub}"> 에픽 라이브는 세로 화면에 최적화되어 있습니다. 디바이스를 세로로 회전해 주세요.</mark> </div>
        </div>
    </div>
    <div class="NotSupported_large">
        <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/notsupported_bg4.png" alt="">
        <div class="Oops_textbox">
            <div class="Oops_title">Oops!</div>
            <div class="Oops_subtitle"> <mark th:utext="#{notsurpoort_sub}">에픽 라이브는 세로 화면에 최적화되어 있습니다. <br>디바이스를 세로로 회전해 주세요.</mark> </div>
        </div>
    </div>
</div>
<div class="test_box dream" id="dv_Testbox" style="display:none"></div>

<div class="test_alert" id="dv_test_alert" th:utext="#{test_txt_quiz}"></div>

<!--<div class="test_box2"></div>-->

<!--<div class="debugger__div" id="dv_debugger">-->
<!--    <div>-->
<!--        <p class="debugger__p">영상포지션:</p>-->
<!--        <p id="dv_debugger_position" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p class="debugger__p">서버시간:</p>-->
<!--        <p id="dv_debugger_vdserver" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p class="debugger__p">퀴즈시간:</p>-->
<!--        <p id="dv_debugger_vdquiz" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p class="debugger__p">퀴즈 시작 시간:</p>-->
<!--        <p id="dv_debugger_quizst" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p class="debugger__p">퀴즈 종료 시간:</p>-->
<!--        <p id="dv_debugger_quizend" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p class="debugger__p">퀴즈 런타임:</p>-->
<!--        <p id="dv_debugger_quizrun" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p id="dv_debugger_remaintime" class="debugger__p"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p id="dv_debugger_remainEndtime" class="debugger__p"></p>-->
<!--    </div>-->
<!--</div>-->


<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ none CDN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--<script type="text/javascript" th:src="@{/js/common/browser_navigator_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/debug_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/device_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/hls/hls.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/calculator_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/service_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/security.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/encrypt_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/cookie_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/cookie_control.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/location_helper.js}"></script>-->

<!--&lt;!&ndash; *************    NO DRM   *******************  &ndash;&gt;-->
<!--<script type="text/javascript" th:src="@{/js/common/video_helper.js}"></script>-->

<!--&lt;!&ndash; **************    DRM   ************************   상단에 shaka api link 주석 해제 !!!!  &ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/js/common/pallycon_helper.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/js/common/video_helper_shaka.js}"></script>&ndash;&gt;-->

<!--<script type="text/javascript" th:src="@{/js/playquiz/ui.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/playquiz/youtube_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/playquiz/time_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/playquiz/time_control_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/playquiz/main.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/playquiz/qdm.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/common/lifecycle_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/playquiz/time_validity_helper.js}"></script>-->

<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ TEST ( none CDN ) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--<script type="text/javascript" th:src="@{/test/js/common/browser_navigator_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/debug_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/device_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/hls/hls.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/calculator_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/service_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/security.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/encrypt_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/cookie_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/cookie_control.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/location_helper.js}"></script>-->

<!--&lt;!&ndash; *************    NO DRM   *******************  &ndash;&gt;-->
<!--<script type="text/javascript" th:src="@{/test/js/common/video_helper.js}"></script>-->

<!--&lt;!&ndash; **************    DRM   ************************   상단에 shaka api link 주석 해제 !!!!  &ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/test/js/common/pallycon_helper.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/test/js/common/video_helper_shaka.js}"></script>&ndash;&gt;-->

<!--<script type="text/javascript" th:src="@{/test/js/playquiz/ui.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/playquiz/youtube_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/playquiz/time_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/playquiz/time_control_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/playquiz/main.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/playquiz/qdm.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/common/lifecycle_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/test/js/playquiz/time_validity_helper.js}"></script>-->



<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ QA ( none CDN ) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--<script type="text/javascript" th:src="@{/live/js/common/browser_navigator_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/debug_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/device_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/hls/hls.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/calculator_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/service_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/security.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/encrypt_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/cookie_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/cookie_control.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/location_helper.js}"></script>-->

<!--&lt;!&ndash; *************    NO DRM   *******************  &ndash;&gt;-->
<!--<script type="text/javascript" th:src="@{/live/js/common/video_helper.js}"></script>-->

<!--&lt;!&ndash; **************    DRM   ************************   상단에 shaka api link 주석 해제 !!!!  &ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/live/js/common/pallycon_helper.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" th:src="@{/live/js/common/video_helper_shaka.js}"></script>&ndash;&gt;-->

<!--<script type="text/javascript" th:src="@{/live/js/playquiz/ui.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/playquiz/youtube_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/playquiz/time_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/playquiz/time_control_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/playquiz/main.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/playquiz/qdm.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/common/lifecycle_helper.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/live/js/playquiz/time_validity_helper.js}"></script>-->


<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ TEST ( CDN ) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/browser_navigator_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/debug_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/device_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/hls/hls.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/calculator_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/service_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/security.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/encrypt_helper.nan.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/cookie_helper.nan.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/cookie_control.js"></script>-->

<!--&lt;!&ndash; *************    NO DRM   *******************   &ndash;&gt;-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/video_helper.nan.js"></script>-->

<!--&lt;!&ndash; **************    DRM   ************************   상단에 shaka api link 주석 해제 !!!!  &ndash;&gt;-->
<!--&lt;!&ndash;<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/pallycon_helper.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/video_helper_shaka.js"></script>&ndash;&gt;-->

<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/ui.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/youtube_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/time_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/time_control_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/location_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/main.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/qdm.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/common/lifecycle_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/test/js/playquiz/time_validity_helper.js"></script>-->


<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 개발 버전 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/browser_navigator_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/debug_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/device_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/hls/hls.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/calculator_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/service_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/security.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/encrypt_helper.nan.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/cookie_helper.nan.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/cookie_control.js"></script>-->

<!--&lt;!&ndash; *************    NO DRM   *******************   &ndash;&gt;-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/video_helper.nan.js"></script>-->

<!--&lt;!&ndash; **************    DRM   ************************   상단에 shaka api link 주석 해제 !!!!  &ndash;&gt;-->
<!--&lt;!&ndash;<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/pallycon_helper.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/video_helper_shaka.js"></script>&ndash;&gt;-->

<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/ui.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/youtube_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/time_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/time_control_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/main.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/qdm.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/common/lifecycle_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/js/playquiz/time_validity_helper.js"></script>-->


<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 라이브 버전 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/browser_navigator_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/debug_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/device_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/hls/hls.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/calculator_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/service_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/security.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/encrypt_helper.nan.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/cookie_helper.nan.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/cookie_control.js"></script>

<!-- *************    NO DRM   *******************   -->
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/video_helper.nan.js"></script>

<!-- **************    DRM   ************************   상단에 shaka api link 주석 해제 !!!!  -->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/pallycon_helper.js"></script>-->
<!--<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/video_helper_shaka.js"></script>-->

<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/ui.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/youtube_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/time_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/time_control_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/location_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/main.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/qdm.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/common/lifecycle_helper.js"></script>
<script  type="text/javascript"src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/live/js/playquiz/time_validity_helper.js"></script>




</body>
</html>
