.test{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: 0;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
  
    width: auto;
    height:auto;
  
    background-color: rgba(0,0,0,0);
}    
.test button{
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
}              
.statebutton button{
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 13px;
}

