<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="dv_quiz_area" class="quiz_area" th:fragment="qdm_qusetion_bind">
    <div id="dv_time_out" class="time_out">
        <!--        <p th:utext="#{txt_timeout}">데이터가없습니다.</p>-->
        <!--        <img src="../resources/img/qdm/waitingroom_end_bg4.png" alt="">-->
    </div>
    <div class="type_0 intro" id="dv_q_0">
        <p>잠시만 기다려주세요.</p>
        <img src="../resources/img/qdm/waitingroom_end_bg4.png" alt="">
    </div>
    <div class="type_2 q1" id="dv_q_1">
        <div class="t2_01">
            <input id="t2_01_q1" type="radio" name="tabs">
            <!--중국어 줄바꿈 문제로 nowrap 일부러 추가하여 사용-->
            <label for="t2_01_q1"  style="white-space: nowrap">에픽페스티벌 티켓 발급!</label>
        </div>
        <div class="t2_02">
            <input id="t2_02_q1" type="radio" name="tabs">
            <label for="t2_02_q1">받은 쿠폰으로 토벌돌기!</label>
        </div>
        <div class="t2_03">
            <input id="t2_03_q1" type="radio" name="tabs">
            <label for="t2_03_q1">치킨과 함께하기!</label>
        </div>
    </div>
    <div class="type_3 q2" id="dv_q_2">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q2" type="radio" name="tabs">
                <label for="t3_01_q2">라비</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q2" type="radio" name="tabs">
                <label for="t3_02_q2">세크레트</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q2" type="radio" name="tabs">
                <label for="t3_03_q2">멜리사</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q2" type="radio" name="tabs">
                <label for="t3_04_q2">필리스</label>
            </div>
        </div>
    </div>
    <div class="type_3 q3" id="dv_q_3">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q3" type="radio" name="tabs">
                <label for="t3_01_q3">18</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q3" type="radio" name="tabs">
                <label for="t3_02_q3">19</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q3" type="radio" name="tabs">
                <label for="t3_03_q3">20</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q3" type="radio" name="tabs">
                <label for="t3_04_q3">21</label>
            </div>
        </div>
    </div>
    <div class="type_3 q4" id="dv_q_4">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q4" type="radio" name="tabs">
                <label for="t3_01_q4" >어둠의 코르부스</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q4" type="radio" name="tabs">
                <label for="t3_02_q4" >엘레나</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q4" type="radio" name="tabs">
                <label for="t3_03_q4" >초승달 무희 링</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q4" type="radio" name="tabs">
                <label for="t3_04_q4" >랑디</label>
            </div>
        </div>
    </div>
    <div class="type_1 q5" id="dv_q_5">
        <div class="t1_01">
            <input id="t1_01_q5" type="radio" name="tabs">
            <label for="t1_01_q5" >O</label>
        </div>
        <div class="t1_02">
            <input id="t1_02_q5" type="radio" name="tabs">
            <label for="t1_02_q5" >X</label>
        </div>
    </div>
    <div class="type_3 q6" id="dv_q_6">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q6" type="radio" name="tabs">
                <label for="t3_01_q6">공격력 감소</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q6" type="radio" name="tabs">
                <label for="t3_02_q6">중독</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q6" type="radio" name="tabs">
                <label for="t3_03_q6">침묵</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q6" type="radio" name="tabs">
                <label for="t3_04_q6">속도 감소</label>
            </div>
        </div>
    </div>
    <div class="type_1 q7" id="dv_q_7">
        <div class="t1_01">
            <input id="t1_01_q7" type="radio" name="tabs">
            <label for="t1_01_q7">O</label>
        </div>
        <div class="t1_02">
            <input id="t1_02_q7" type="radio" name="tabs">
            <label for="t1_02_q7">X</label>
        </div>
    </div>
    <div class="type_3 q8" id="dv_q_8">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q8" type="radio" name="tabs">
                <label for="t3_01_q8">전투형 마야</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q8" type="radio" name="tabs">
                <label for="t3_02_q8">멜리사</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q8" type="radio" name="tabs">
                <label for="t3_03_q8">퓨리우스</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q8" type="radio" name="tabs">
                <label for="t3_04_q8">샬롯</label>
            </div>
        </div>
    </div>
    <div class="type_3 q9" id="dv_q_9">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q9" type="radio" name="tabs">
                <label for="t3_01_q9" th:utext="${quizSelections[8].selection_1}">EP1 - 5S 태양사막</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q9" type="radio" name="tabs">
                <label for="t3_02_q9" th:utext="${quizSelections[8].selection_2}">EP1 - 3 사브와라 (월드)</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q9" type="radio" name="tabs">
                <label for="t3_03_q9" th:utext="${quizSelections[8].selection_3}">EP2 - 8 산드라 유적</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q9" type="radio" name="tabs">
                <label for="t3_04_q9" th:utext="${quizSelections[8].selection_4}">EP3 - 1 레펀도스 남부</label>
            </div>
        </div>
    </div>
    <div class="type_3 q10" id="dv_q_10">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q10" type="radio" name="tabs">
                <label for="t3_01_q10">프리드리히</label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q10" type="radio" name="tabs">
                <label for="t3_02_q10">루트비히</label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q10" type="radio" name="tabs">
                <label for="t3_03_q10">키세</label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q10" type="radio" name="tabs">
                <label for="t3_04_q10">알프레드</label>
            </div>
        </div>
    </div>
    <div class="type_4 outro" id="dv_q_11">
        <p>점수 관련하여 문의 사항이 있는 경우<br>퀴즈에 참여한 계정정보와 함께 <br>1:1 문의 부탁드립니다..</p>
    </div>
</div>
</html>