<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- 퀴즈화면 -->
    <div id="dv_qdm" th:fragment="qdm_bind">
        <div class="body_qdm">
            <div class="qdm_bg"  id="qdm_bg">
                <div class="qdm" id="qdm_bg_qdm">
                    <div class="player_area" id="dv_player_area">
                        <div class="player_mov" id="dv_player_qdm">
                            <video playsinline id="video-player" muted></video>
                            <div class="mute_icon" id="dv_mute_icon_qdm">
                                <div class="dv_mute" id="dv_mute">
                                    <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/mute_icon.png" alt="">
                                    <p th:utext="#{txt_mute}">탭하여음소거해제</p>
                                </div>
                                <div class="dv_play" id="dv_play">
                                    <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/play_icon.png" alt="">
                                    <p th:utext="#{txt_play}">탭하여음소거해제</p>
                                </div>
                            </div>

                        </div>
                        <div class="header_top_button" id="img_video_thum"></div>
                    </div>
                    <div th:replace="main/fragments/qdm_qustion :: qdm_qusetion_bind"></div>
                </div>
            </div>
        </div>
    </div>
</html>