<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="dv_quiz_area" class="quiz_area" th:fragment="qdm_qusetion_bind">
    <div id="dv_time_out" class="time_out">
        <!--        <p th:utext="#{txt_timeout}">데이터가없습니다.</p>-->
        <!--        <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/waitingroom_end_bg4.png" alt="">-->
    </div>
    <div class="type_0 intro" id="dv_q_0">
        <p th:utext="#{txt_timeout}">데이터가없습니다.</p>
        <img src="https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/waitingroom_end_bg4.png" alt="">
    </div>
    <div class="type_2 q1" id="dv_q_1">
        <div class="t2_01">
            <input id="t2_01_q1" type="radio" name="tabs">
            <!--중국어 줄바꿈 문제로 nowrap 일부러 추가하여 사용-->
            <label for="t2_01_q1" th:text="${quizSelections[0].selection_1}" style="white-space: nowrap"></label>
        </div>
        <div class="t2_02">
            <input id="t2_02_q1" type="radio" name="tabs">
            <label for="t2_02_q1" th:text="${quizSelections[0].selection_2}"></label>
        </div>
        <div class="t2_03">
            <input id="t2_03_q1" type="radio" name="tabs">
            <label for="t2_03_q1" th:text="${quizSelections[0].selection_3}"></label>
        </div>
    </div>
    <div class="type_3 q2" id="dv_q_2">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q2" type="radio" name="tabs">
                <label for="t3_01_q2" th:text="${quizSelections[1].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q2" type="radio" name="tabs">
                <label for="t3_02_q2" th:text="${quizSelections[1].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q2" type="radio" name="tabs">
                <label for="t3_03_q2" th:text="${quizSelections[1].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q2" type="radio" name="tabs">
                <label for="t3_04_q2" th:text="${quizSelections[1].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_3 q3" id="dv_q_3">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q3" type="radio" name="tabs">
                <label for="t3_01_q3" th:text="${quizSelections[2].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q3" type="radio" name="tabs">
                <label for="t3_02_q3" th:text="${quizSelections[2].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q3" type="radio" name="tabs">
                <label for="t3_03_q3" th:text="${quizSelections[2].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q3" type="radio" name="tabs">
                <label for="t3_04_q3" th:text="${quizSelections[2].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_3 q4" id="dv_q_4">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q4" type="radio" name="tabs">
                <label for="t3_01_q4" th:utext="${quizSelections[3].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q4" type="radio" name="tabs">
                <label for="t3_02_q4" th:text="${quizSelections[3].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q4" type="radio" name="tabs">
                <label for="t3_03_q4" th:utext="${quizSelections[3].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q4" type="radio" name="tabs">
                <label for="t3_04_q4" th:text="${quizSelections[3].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_1 q5" id="dv_q_5">
        <div class="t1_01">
            <input id="t1_01_q5" type="radio" name="tabs">
            <label for="t1_01_q5" th:utext="#{t1_01}" ></label>
        </div>
        <div class="t1_02">
            <input id="t1_02_q5" type="radio" name="tabs">
            <label for="t1_02_q5" th:utext="#{t1_02}" ></label>
        </div>
    </div>
    <div class="type_3 q6" id="dv_q_6">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q6" type="radio" name="tabs">
                <label for="t3_01_q6" th:utext="${quizSelections[5].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q6" type="radio" name="tabs">
                <label for="t3_02_q6" th:text="${quizSelections[5].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q6" type="radio" name="tabs">
                <label for="t3_03_q6" th:utext="${quizSelections[5].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q6" type="radio" name="tabs">
                <label for="t3_04_q6" th:text="${quizSelections[5].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_1 q7" id="dv_q_7">
        <div class="t1_01">
            <input id="t1_01_q7" type="radio" name="tabs">
            <label for="t1_01_q7" th:utext="#{t1_01}" ></label>
        </div>
        <div class="t1_02">
            <input id="t1_02_q7" type="radio" name="tabs">
            <label for="t1_02_q7" th:utext="#{t1_02}" ></label>
        </div>
    </div>
    <div class="type_3 q8" id="dv_q_8">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q8" type="radio" name="tabs">
                <label for="t3_01_q8" th:text="${quizSelections[7].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q8" type="radio" name="tabs">
                <label for="t3_02_q8" th:text="${quizSelections[7].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q8" type="radio" name="tabs">
                <label for="t3_03_q8" th:text="${quizSelections[7].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q8" type="radio" name="tabs">
                <label for="t3_04_q8" th:text="${quizSelections[7].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_3 q9" id="dv_q_9">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q9" type="radio" name="tabs">
                <label for="t3_01_q9" th:utext="${quizSelections[8].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q9" type="radio" name="tabs">
                <label for="t3_02_q9" th:utext="${quizSelections[8].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q9" type="radio" name="tabs">
                <label for="t3_03_q9" th:utext="${quizSelections[8].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q9" type="radio" name="tabs">
                <label for="t3_04_q9" th:utext="${quizSelections[8].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_3 q10" id="dv_q_10">
        <div class="group_01">
            <div class="t3_01">
                <input id="t3_01_q10" type="radio" name="tabs">
                <label for="t3_01_q10" th:text="${quizSelections[9].selection_1}"></label>
            </div>
            <div class="t3_02">
                <input id="t3_02_q10" type="radio" name="tabs">
                <label for="t3_02_q10" th:text="${quizSelections[9].selection_2}"></label>
            </div>
        </div>
        <div class="group_02">
            <div class="t3_03">
                <input id="t3_03_q10" type="radio" name="tabs">
                <label for="t3_03_q10" th:text="${quizSelections[9].selection_3}"></label>
            </div>
            <div class="t3_04">
                <input id="t3_04_q10" type="radio" name="tabs">
                <label for="t3_04_q10" th:text="${quizSelections[9].selection_4}"></label>
            </div>
        </div>
    </div>
    <div class="type_4 outro" id="dv_q_11">
        <p th:utext="#{txt_outro}" >데이터가없습니다.</p>
    </div>
</div>
</html>