
/* initialize */
.dream{
  font-family: 's-core_dream6_bold', sans-serif;
}
.Noto{
  font-family: 'Noto Sans', sans-serif;
}
.Roboto{
  font-family: 'Roboto', sans-serif;
}
* {
  outline: 0 !important;
  font-family: 'Noto Sans', sans-serif;
}
html {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-overflow-scrolling:touch;
  user-select: none;
  -webkit-text-size-adjust:none;
  /*overflow: hidden;*//*ios13 오작동됨*/
}
body,
p {
  margin: 0;

}
span,
p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


select:focus,
textarea:focus,
input:focus {
  border: none;
}
/* initialize typography */
html {
  /*font-size: 62.5%; !*16px -> 10px *!*/
}
body {
  /*font-size: 1.4rem;*/
  -webkit-overflow-scrolling:touch;
}
/*input[type=number] {-webkit-text-security:disc;}*/
/*input[type=text] {-webkit-text-security:disc;}*/

/*initialize layout */
fieldset {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0em;
  padding-inline-start: 0em;
  padding-inline-end: 0em;
  padding-block-end: 0em;
  min-inline-size: min-content;
}
p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

fieldset,select,input,button {
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::placeholder {
  opacity: 1;
  color: #999999 ;
}
html, body {
  height: 100%;
}

.app {
  height: 100%;
  position: fixed;
  bottom: 0;
  -webkit-overflow-scrolling:touch;
  /*overflow-y: hidden;*/
}
:root{
  --Oops_item-w:0px;
}
.NotSupported{
  width: var(--window-100vw);
  height: var(--window-100vh);

  /*width: 100vw;*/
  /*height: 100vh;*/

  background: #ffffff;
  background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/notsupported_bg.png);
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
}

.NotSupported img{
  height: 90vh;
  max-height: 256px;
  object-fit: contain;

  position: absolute;
  bottom: 0;
}
.NotSupported .Oops_textbox{
  width: calc(100vw - var(--Oops_item-w));
  min-width: 328px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  bottom: 0;
  right: 0;

}
.NotSupported .Oops_textbox .Oops_title{
  font-weight: bold;
  font-size: 23px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #FF6CB9;
}

.NotSupported .Oops_textbox .Oops_subtitle mark{

  background-color: #ffffff86;

}
.NotSupported .Oops_textbox .Oops_subtitle{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  text-align: center;

  color: #000000;
}


.NotSupported_small{
  background: #ff0000;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: flex-start;
  flex-direction: row;

  width: var(--window-100vw);
  height: 56px;


  background: #ffffff;
  background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/notsupported_bg3.png);
  background-size: 100vw 56px;
}

.NotSupported_small .Oops_item_img{
  width: 15%;
  height: 100%;
  background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/notsupported_bg2.png);
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: 0px;
}
.NotSupported_small .Oops_textbox{
  font-size: 9px;
  width: 100vw;
  height: 56px;
  position: relative;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.NotSupported_small .Oops_textbox .Oops_subtitle{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  text-align: center;

  color: #000000;
}

.NotSupported_small img{
  height: 120%;
  background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/notsupported_bg2.png);
  background-repeat: no-repeat;
  background-size: 96px 78px;
  background-position: 0px 22px;
}

.NotSupported_small .Oops_textbox .Oops_subtitle mark{
  background-color: #FFE8F886;
}

.NotSupported_large{
  width: var(--window-100vw);
  height: var(--window-100vh);
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
}
.NotSupported_large img{
  width: auto;
  min-width: 328px;
  max-width: 396px;
  object-fit: contain;
  padding-bottom: 40px;

  position: relative;
}
.NotSupported_large .Oops_textbox{
  width: auto;
  min-width: 328px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}
.NotSupported_large .Oops_textbox .Oops_title{
  font-weight: bold;
  font-size: 23px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 20px;
  color: #FF6CB9;
}

.NotSupported_large .Oops_textbox .Oops_subtitle mark{

  background-color: #ffffff86;

}
.NotSupported_large .Oops_textbox .Oops_subtitle{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  text-align: center;

  color: #000000;
}
.NotSupported_Xlarge{
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
}
.NotSupported_Xlarge img{
  width: 60%;
  /*min-width: 328px;*/
  /*max-width: 396px;*/
  object-fit: contain;
  padding-bottom: 40px;

  position: relative;
}
.NotSupported_Xlarge .Oops_textbox{
  width: auto;
  min-width: 328px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}
.NotSupported_Xlarge .Oops_textbox .Oops_title{
  font-weight: bold;
  font-size: calc(100vw * 0.03);

  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 20px;
  color: #FF6CB9;
}

.NotSupported_Xlarge .Oops_textbox .Oops_subtitle mark{
  background-color: #ffffff86;

}
.NotSupported_Xlarge .Oops_textbox .Oops_subtitle{
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw * 0.0125);
  text-align: center;

  color: #000000;
}
.NotSupported_browser{
  width: var(--window-100vw);
  height: var(--window-100vh);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
}
.NotSupported_browser img{
  width: min(var(--window-100vw) , var(--window-100vh)) ;
  max-width: 400px;
  object-fit: contain;
  padding-bottom: 18px;

  position: relative;
}
.NotSupported_browser .Oops_textbox{
  width: calc(min(var(--window-100vw) , var(--window-100vh)) - 46px);
  padding: 0 23px 0 23px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}
.NotSupported_browser .Oops_textbox .Oops_title{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px ;
  color: #000000;

  padding-bottom: 20px;
}
.NotSupported_browser .popup_table_error{
  width: auto;
  height: auto;

  border-top: 1px solid #FF6CB9;
  background: #F1F3F4;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}


@media screen and (orientation: landscape) {
  .NotSupported_browser .Oops_textbox{
    width: auto;
  }
  .NotSupported_browser .popup_table_error {
    width: auto;
  }
}

.NotSupported_browser .popup_table_error table{
  width: 100%;
  height: calc(100% - 30px);
  padding: 23px 10px 23px 10px;
}
.NotSupported_browser .popup_table_error th{
  vertical-align: top;
  text-align: right;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  color: #1D1D1D;
  padding: 0 4.5px 0 0;
}
.NotSupported_browser .popup_table_error td{
  vertical-align: top;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #979797;
  padding: 0 0 0 4.5px ;
}

.shutdown{
  width:100vw;
  height:100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body{
  -webkit-overflow-scrolling:touch;
  font-family: Noto Sans;
}
/* display */
#dv_NotSupported{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.NotSupported_Xlarge{
  display: flex;
}
.NotSupported_large{
  display: none;
}
.NotSupported_small{
  display: none;
}
.NotSupported{
  display: flex;
}
.blind{
  width: 100vw;
  height: 100vh;
  display: block;

  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
}

.test_box{

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #000000;

  width: var(--window-100vw);
  height: auto;

  background-color: rgba(255,0,0,0.5);
}

.test_alert{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 15px;
  color: #ffffff;

  width: var(--window-100vw);
  height: 30px;

  background-color: rgba(255,0,0,0.6);
}
