:root{
    --qdm-bg-h:0px;
}

.body_qdm{
    width: var(--window-100vw);
    height: var(--window-100vh);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffa7d0;
    background-image: url("https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/main_login_bg_01.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    -webkit-overflow-scrolling: touch;
    /*overflow: hidden;*/
}

.qdm_bg{
    width:  var(--window-100vw);
    max-width: 468px;

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-overflow-scrolling: touch;
    /*overflow: hidden;*/
}


.qdm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:  var(--window-100vw);
    max-width: 428px;
    /*height: 100vh;*/
    /*margin: 20px;*/
    margin: 0px;
}

.qdm .player_area{
    width: 100%;
    /* height: 40vh; */
    /*height: var(--quizarea-h);*/
    /*height: var(--window-100vw);*/
    height: var(--window-100vw);
    max-height: 428px;

    position: relative;
    background: linear-gradient(145.98deg, #F6C5E6 31.82%, #F6F2F5 99.38%);
}

.qdm .player_mov{
    width: 100%;
    height: 100%;
    max-height: 428px;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qdm .player_mov video{
    width: 100%;
    height: 100%;

    object-fit: contain;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}


.qdm .header_top_button
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.qdm .mute_icon{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.qdm .mute_icon_ios{
    width: 100%;
    height: 100%;
    width: var(--mov-h);
    max-width: calc(428px);

    height: var(--mov-h);
    max-height: calc(428px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: fixed;
    top:calc(((var(--window-100vh) - var(--qdm-bg-h) ) * 0.5 ));

    background: rgba(0, 0, 0, 0.7);
}

#dv_mute{
    display: none;
    display: block;
}
.qdm .mute_icon_ios .dv_mute img
{
    width: 73px;
    object-fit: contain;
}
.qdm .mute_icon .dv_mute img
{
    width: 73px;
    object-fit: contain;
}
#dv_play{
    display: block;
    display: none;

}
.qdm .mute_icon .dv_play img
{
    width: 68px;
    object-fit: contain;
}
.qdm .mute_icon_ios .dv_play img
{
    width: 68px;
    object-fit: contain;
}


.qdm .mute_icon .dv_play p,
.qdm .mute_icon .dv_mute p{
    text-align: center;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding-top: 18px;

    color: #FFFFFF;
}

.qdm .mute_icon_ios .dv_play p,
.qdm .mute_icon_ios .dv_mute p{
    text-align: center;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding-top: 18px;

    color: #FFFFFF;
}

.test_box2{
    position: fixed;
    width: var(--window-100vw);
    height: var(--window-100vw);
    top: 0;
    left: 0;
    background-color: #ff000050;
}
.qdm .quiz_area{
    width: calc(100% - 40px);
    height: calc(var(--window-100vh) - var(--window-100vw) - 48px);
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 20px 24px;
    /* margin-top: 172px; */
    position: relative;
}


.qdm .quiz_area_off{
    width: var(--window-100vh) ;
    min-width: 360px;
    max-width: 428px;
    /*max-width: 360px;*/
    height: calc(var(--window-100vh)  - 56px - 48px);
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 20px 24px;
    /* margin-top: 172px; */
    position: fixed;
    top: 56px;
}

.outro,.type_3,.type_2,.type_1,.intro{
    width: 360px;
    height: auto;
    background: #ffffff;
    text-align: center;

}
.time_out,
.outro,
.intro{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}


.time_out img,
.intro img{
    width: 155px;
    height: 155px;
    object-fit: contain;
    padding-top: 9px;
}

.time_out{
    /*width: 360px;*/
    /*height: calc(100vh - 100vw);*/
    /*min-height: 152px;*/
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    top: 0px;
    /*position: absolute;*/
    /*top: 0px;*/
}
.time_out p,
.intro p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #979797;

}

.outro p{
    width: 290px;
    font-weight: bold;
    font-size: 16px;
    line-height: 155%;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}


.type_3 input[type="radio"],
.type_2 input[type="radio"],
.type_1 input[type="radio"]{
    display: none;
}

.type_1{
    width:100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
.t1_01{
    width: 50%;
    height: auto;
    padding-right: 12px;
}
.t1_02{
    width: 50%;
    height: auto;
}

.t1_02 input:checked + label,
.t1_01 input:checked + label {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 104px;
    /* margin-right: 10px; */
    border-radius: 12px;
    background: #FF6CB9;
    border: 2px solid rgba(255, 255, 255,0.7);
    box-shadow: 0px 4px 4px rgba(255, 172, 216, 0.35);
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.t1_02 input+label,
.t1_01 input+label{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    height: 104px;
    border-radius: 12px;

    background: #FFFFFF;
    border: 2px solid rgba(255, 172, 216, 0.75);
    box-shadow: 0px 4px 4px rgba(255, 172, 216, 0.15);

    color: #FF6CB9;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}



.t1_01 input+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_01_o_off.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.t1_02 input+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_01_x_off.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.t1_01 input:checked+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_01_o.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.t1_02 input:checked+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_01_x.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}


.type_2{
    width:100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content:center;
    /*flex-direction: row;*/
    flex-direction: column;
}

.t2_02,
.t2_01{
    /*width: calc(100% / 3);*/
    /*height: auto;*/
    /*padding-right: 12px;*/
    width: 100%;
    height: calc(100% / 3);
    padding-bottom: 12px;
}
.t2_03{
    /*width: calc(100% / 3);*/
    /*height: auto;*/
    width: 100%;
    height: calc(100% / 3);
}
.t2_03 input:checked + label,
.t2_02 input:checked + label,
.t2_01 input:checked + label {
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    /*height: 104px;*/
    /*height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 24px) / 2);*/
    height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 24px) / 3);

    /*min-height: 96px;*/
    border-radius: 12px;

    background: #FF6CB9;
    border: 2px solid rgba(255, 255, 255,0.7);
    box-shadow: 0px 4px 4px rgba(255, 172, 216, 0.35);

    color: #ffffff;
    /* border-radius: 0px 24px 0px 0px;
    border-radius: 24px 0px 0px 0px; */
}

.t2_03 input+label,
.t2_02 input+label,
.t2_01 input+label{
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    /*height: 104px;*/
    /*height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 24px) / 2);*/
    height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 24px) / 3);
    /*min-height: 96px;*/

    border-radius: 12px;

    background: #FFFFFF;
    border: 1.5px solid rgba(255, 172, 216, 0.75);
    box-shadow: 0px 4px 4px rgba(255, 172, 216, 0.15);

    /*color: #E0E0E0;*/
    color: #FF6CB9;
    box-sizing: border-box;

}

.t2_01 input+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_02_b_off.png);*/

    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
.t2_02 input+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_02_a_off.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
/*가위*/
.t2_03 input+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_02_c_off.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}
/*바위*/
.t2_01 input:checked+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_02_b.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

}
.t2_02 input:checked+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_02_a.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.t2_03 input:checked+label{
    /*background-image: url(https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/qdm/quiz_form_02_c.png);*/
    /*background-size: 32px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.type_3{
    width:100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;


}
.group_02,
.group_01{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;

    width:100%;
    /* height: calc(48px); */
}
.group_01{
    height: auto;
    padding-bottom: 14px;
}

.t3_04,
.t3_02{
    width: 50%;
    height: auto;
}

.t3_03,
.t3_01{
    width: 50%;
    height: auto;
    padding-right: 12px;
}


.t3_04 input:checked + label,
.t3_03 input:checked + label,
.t3_02 input:checked + label,
.t3_01 input:checked + label {
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border-radius: 12px;

    background: #FF6CB9;
    border: 2px solid rgba(255, 255, 255 ,0.7);
    box-shadow: 0px 4px 4px rgba(255, 172, 216, 0.35);

    color: #ffffff;
    height: 46px;
    height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 24px) / 2);

}

.t3_04 input+label,
.t3_03 input+label,
.t3_02 input+label,
.t3_01 input+label{
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    border-radius: 12px;
    background: #FFFFFF;
    border: 1.5px solid rgba(255, 172, 216, 0.75);
    box-shadow: 0px 4px 4px rgba(255, 172, 216, 0.15);

    color: #FF6CB9;

    /*height: calc(46px);*/
    /*height: calc((var(--window-100vh) - var(--window-100vw) - 48px) / 3);*/
    height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 24px) / 2);

}

.type_3,
.type_2,
.type_1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}


@media screen and (min-width: 429px){
    @media screen and (min-height: 800px) {
        .qdm{
            margin: 20px;
        }
    }
}

@media screen and (orientation: landscape){
    /*가로페이지*/
    .body_qdm{
        background-color: #ffffff;
        background-image: none;
    }
    .time_out img,
    .intro img{
        display: none;
    }
    .qdm .quiz_area_off{
        height: calc((var(--window-100vh) * 0.8) - 56px  - 48px);
        height: calc((var(--window-100vh) * 1) - 56px  - 48px);
        position: fixed;
        top: calc((var(--window-100vh) - ((var(--window-100vh) * 0.8) - 56px - 48px)) * 0.5);
        top: calc((var(--window-100vh) - ((var(--window-100vh) * 1) - 56px - 48px)) * 0.5);
    }

    .t3_04 input:checked + label,
    .t3_03 input:checked + label,
    .t3_02 input:checked + label,
    .t3_01 input:checked + label {
        height: calc(((var(--window-100vh) * 0.8)    - 56px - 48px - 24px) / 2);
        height: calc(((var(--window-100vh) * 1)    - 56px - 48px - 24px) / 2);
    }


    .t3_04 input+label,
    .t3_03 input+label,
    .t3_02 input+label,
    .t3_01 input+label{
        height: calc(((var(--window-100vh) * 0.8)   - 56px - 48px - 24px) / 2);
        height: calc(((var(--window-100vh) * 1)   - 56px - 48px - 24px) / 2);
    }


    .t2_03 input:checked + label,
    .t2_02 input:checked + label,
    .t2_01 input:checked + label {
        height: calc(((var(--window-100vh) * 0.8)    - 56px - 48px - 24px) / 3);
        height: calc(((var(--window-100vh) * 1)    - 56px - 48px - 24px) / 3);
    }


    .t2_03 input+label,
    .t2_02 input+label,
    .t2_01 input+label{
        height: calc(((var(--window-100vh) * 0.8)   - 56px - 48px - 24px) / 3);
        height: calc(((var(--window-100vh) * 1)   - 56px - 48px - 24px) / 3);
    }



    /*타블렛*/
    @media screen and (min-width: 1024px){
        @media screen and (min-height: 600px) {

            .time_out img,
            .intro img{
                display: block;
            }
            .qdm .quiz_area_off{
                height: calc((var(--window-100vh) * 0.8) - 48px);
                height: calc((var(--window-100vh) * 1) - 48px);
                max-height: calc((428px * 0.8) - 48px);
                max-height: calc((428px * 1) - 48px);
                position: static;
            }
            /*택일*/
            .type_1{
                display: flex;
                align-items: center;
                justify-content:center;
                flex-direction: column;
            }
            .t1_01{
                width: 100%;
                height: 50%;
                padding-right: 0px;
                padding-bottom: 26px;
            }
            .t1_02{
                width: 100%;
                height: 50%;
                /*padding-right: 12px;*/
            }

            /*4지선다*/
            .t3_04 input:checked + label,
            .t3_03 input:checked + label,
            .t3_02 input:checked + label,
            .t3_01 input:checked + label {
                height: calc(((var(--window-100vh) * 0.8) - 48px - 40px) / 2);
                height: calc(((var(--window-100vh) * 1) - 48px - 40px) / 2);
                max-height: calc(((428px * 0.8) - 48px - 40px) / 2);
                max-height: calc(((428px * 1) - 48px - 40px) / 2);
            }

            .t3_04 input+label,
            .t3_03 input+label,
            .t3_02 input+label,
            .t3_01 input+label{
                height: calc(((var(--window-100vh) * 0.8) - 48px - 40px) / 2);
                height: calc(((var(--window-100vh) * 1) - 48px - 40px) / 2);
                max-height: calc(((428px * 0.8) - 48px - 40px) / 2);
                max-height: calc(((428px * 1) - 48px - 40px) / 2);
            }

            /*3지선다*/
            .t2_03 input:checked + label,
            .t2_02 input:checked + label,
            .t2_01 input:checked + label {
                height: calc(((var(--window-100vh) * 0.8) - 48px - 40px) / 3);
                height: calc(((var(--window-100vh) * 1) - 48px - 40px) / 3);
                max-height: calc(((428px * 0.8) - 48px - 40px) / 3);
                max-height: calc(((428px * 1) - 48px - 40px) / 3);
            }

            .t2_03 input+label,
            .t2_02 input+label,
            .t2_01 input+label{
                height: calc(((var(--window-100vh) * 0.8) - 48px - 40px) / 3);
                height: calc(((var(--window-100vh) * 1) - 48px - 40px) / 3);
                max-height: calc(((428px * 0.8) - 48px - 40px) / 3);
                max-height: calc(((428px * 1) - 48px - 40px) / 3);
            }
        }
    }

}



@media screen and (orientation: portrait){
    /*세로페이지*/

    @media screen and (max-width: 428px){
        @media screen and (max-height: 600px) {
            .time_out img,
            .intro img{
                display: none;
            }
            .t2_02,
            .t2_01{
                padding-bottom: 8px;
            }
            .t2_03 input:checked + label,
            .t2_02 input:checked + label,
            .t2_01 input:checked + label {
                height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 16px) / 3);
                border-radius: 8px;
            }

            .t2_03 input+label,
            .t2_02 input+label,
            .t2_01 input+label{
                height: calc((var(--window-100vh) - var(--window-100vw) - 48px - 16px) / 3);
                border-radius: 8px;
            }
        }
    }
}

/*타블렛*/
@media screen and (min-width: 768px){
    @media screen and (min-height: 800px) {
        .qdm .quiz_area{
            height: calc((var(--window-100vw) * 0.8) - 48px);
            max-height: calc((428px * 0.8) - 48px);
        }
        /*택일*/
        .type_1{
            display: flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
        }
        .t1_01{
            width: 100%;
            height: 50%;
            padding-right: 0px;
            padding-bottom: 26px;
        }
        .t1_02{
            width: 100%;
            height: 50%;
            /*padding-right: 12px;*/
        }
        /*4지선다*/
        .t3_04 input:checked + label,
        .t3_03 input:checked + label,
        .t3_02 input:checked + label,
        .t3_01 input:checked + label {
            height: calc(((var(--window-100vw) * 0.8) - 48px - 40px) / 2);
            max-height: calc(((428px * 0.8) - 48px - 40px) / 2);
        }

        .t3_04 input+label,
        .t3_03 input+label,
        .t3_02 input+label,
        .t3_01 input+label{
            height: calc(((var(--window-100vw) * 0.8) - 48px - 40px) / 2);
            max-height: calc(((428px * 0.8) - 48px - 40px) / 2);
        }

        /*3지선다*/
        .t2_03 input:checked + label,
        .t2_02 input:checked + label,
        .t2_01 input:checked + label {
            height: calc(((var(--window-100vw) * 0.8) - 48px - 40px) / 3);
            max-height: calc(((428px * 0.8) - 48px - 40px) / 3);
        }

        .t2_03 input+label,
        .t2_02 input+label,
        .t2_01 input+label{
            height: calc(((var(--window-100vw) * 0.8) - 48px - 40px) / 3);
            max-height: calc(((428px * 0.8) - 48px - 40px) / 3);
        }
    }
}


@media screen and (max-width: 360px){
    @media screen and (min-height: 800px) {

        .type_1{
            display: flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
        }

        .t1_01{
            width: 100%;
            height: 50%;
            padding-right: 0px;
            padding-bottom: 12px;
        }
        .t1_02{
            width: 100%;
            height: 50%;
            /*padding-right: 12px;*/
        }
    }
}



@media screen and (max-width: 428px){
    @media screen and (min-height: 926px) {
        .type_1{
            display: flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
        }

        .t1_01{
            width: 100%;
            height: 50%;
            padding-right: 0px;
            padding-bottom: 12px;
        }
        .t1_02{
            width: 100%;
            height: 50%;
            /*padding-right: 12px;*/
        }
    }
}
