:root{
    --playarea-h:calc(100vw + 52px);
    --mov-h:calc(100vw);
    --quizarea-h: 100vw;
    --waiting-bg-h:0px;
    --waiting-header-h:0px;
}

@media screen and (min-width: 712px) {
    @media screen and (min-height: 800px) and (max-height: 1194px) {
        .text_area{
            min-height: 338px;
        }
    }
}
@media screen and (max-width: 428px) {

    :root{
        --playarea-h:calc(100vw + 52px);
        --mov-h:calc(100vw);
    }
    @media screen and (max-height: 560px) {
        :root{
            /*--playarea-h:calc(40vh + 52px);*/
            --playarea-h:calc(224px + 52px);
            /*--mov-h:calc(50vh);*/
            --mov-h:calc(224px);
        }

    }
}
.test_btn_area{
    position: fixed;
    top: 0;
    left: 0;
}
/*#dv_waiting*/
/*{*/
/*    overflow-x:hidden;*/
/*    overflow-y:hidden;*/
/*}*/
body{
    -webkit-overflow-scrolling:touch;
}
.body_waiting{
    width: var(--window-100vw);
    height: var(--window-100vh);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffa7d0;
    background-image: url("https://d1y3u63qhvnkae.cloudfront.net/src/main/resources/static/img/login/main_login_bg_01.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-overflow-scrolling: touch;
}
.waiting_bg
{
    width: 100vw;
    max-width: 468px;

    background-color: #ffffff;
    border-top: 1px solid #FF6CB9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*position: fixed;*/
    /*top: 0;*/

}
.waiting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: 428px;
    /*height: 100vh;*/
    margin: 0 20px 0 20px;

}


.player_area{
    width: 100%;
    height: var(--playarea-h);
    max-height: calc(428px + 52px);
    position: relative;
    background: linear-gradient(145.98deg, #F6C5E6 31.82%, #F6F2F5 99.38%);
}

.player_img{
    width: 100%;
    height: 100%;
    height: var(--mov-h);
    max-height: calc(428px - 52px);

    /*position: absolute;*/
    display: block;
    display: none;
    position: relative;
}

.player_mov{
    width: 100%;
    height: var(--mov-h);
    max-height: calc(428px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    -webkit-overflow-scrolling:touch;
}

.waiting .player_mov iframe{
    width: 100%;
    height: 100%;

    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    -webkit-overflow-scrolling:touch;
}

.player_img img{
    width: 100%;
    /*height: 100%;*/
    max-height: calc(428px - 52px);
    object-fit: contain;
    position: relative;
}


.header_top_button{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}


.waiting .player_mov .mute_icon{
    width: 100%;
    height: var(--mov-h);
    max-height: calc(428px);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.waiting .player_mov .mute_icon_ios{
    width: 100%;
    width: var(--mov-h);
    max-width: calc(428px);

    height: var(--mov-h);
    max-height: calc(428px);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:calc(((var(--window-100vh) - var(--waiting-bg-h) )* 0.5 ) + var(--waiting-header-h) + 1px);
    background: rgba(0, 0, 0, 0.7);
}

.waiting .player_mov .mute_icon_ios img{
    width: 73px;
    object-fit: contain;
}
.waiting .player_mov .mute_icon img{
    width: 73px;
    object-fit: contain;
}

.waiting .player_mov .mute_icon_ios p
{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    padding-top: 18px;
    color: #FFFFFF;
}

.waiting .player_mov .mute_icon p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    padding-top: 18px;

    color: #FFFFFF;
}

.text_area{
    width: calc(100% - 40px);

    height: calc(var(--window-100vh) - var(--playarea-h) - 40px);


    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 20px;
    /* margin-top: 172px; */
    position: relative;
}

.notice_title{
    width: 320px;
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 155%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 155%;

    text-align: center;
}

.notice_meta{
    width: 320px;
    width: 100%;
    height: 100%;
    /*min-height: 208px;*/
    border-top: 1px solid #FF6CB9;
    background: #F1F3F4;
    /*overflow-x:hidden;*/
    overflow-y:auto;
}

.notice_meta table
{
    padding: 26px 25px 0 20px;
}

.notice_meta th{
    vertical-align: top;
    text-align: right;

    font-weight: 500;
    font-size: 9px;
    line-height: 12px;

    color: #1D1D1D;
}

.notice_meta td{
    vertical-align: top;
    text-align: left;

    font-weight: normal;
    font-size: 9px;
    line-height: 12px;

    color: #979797;
    padding: 0 0 14px 0;

    word-break: keep-all;

}


.header_top{
    width: calc(100% - 20px);
    min-height: 32px;
    max-height: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*position: absolute;*/
    /*top: 0px;*/
    /*background: linear-gradient(180deg, #FF6CB9 0%, rgba(247, 196, 230, 255) 100%);*/

    /*border-top: 1px solid #FF6CB9;*/
    background: #ffffff;

}
.header_txt,
.header_time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    text-align: center;
    color: #000000;
    flex: none;
}
.header_txt{
    font-size: 9px;
}
.header_time{
    color: #FF6CB9;
}





